{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">

    <div class="content-section">
        <form action="" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="input-group">
                {{form|crispy}}
                <br>
                <br>
                    <button type="submit" class="btn btn-lg text-white bg-primary" onclick="show()" title="Add" style="margin-left: 50%;">
                        Add
                    </button>

            </div>

        </form>
    </div>

</div>

{% endblock content %}