{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row mt-5">
        <div class="col-md-15 offset-md-2 w-100 ml-2 mr-2 mb-4 mt-1">
            <div class="card w-100">
                <div class="card-body w-100">
                    
                    <ul class="list-group">
                        <a class="btn btn-lg text-white bg-primary mb-4" title="Add new work" href="{% url 'todo-form' %}">
                            <i class="fa fa-plus fa-lg"></i>
                        </a>
                        {% if not todohistory  %}
                        <li class="list-group-item">
                            <span class="font-weight-bold">No more tasks left</span><br>
                            <span class="font-weight-light">Meanwhile, spread the love</span>
                        </li>
                        {% else %}
                        {% for todos in todohistory %}
                        <li class="list-group-item">

                            <!-- <img class="rounded-circle todo-img" src="{{ todos.author.profile.image.url }}"> -->
                            {{todos.todo}}
                            <div class="float-right d-inline" style="padding-left: 500px;">
                                <!-- {{todos.datetime | date:"F d, Y"}} -->
                                <button type="button" class="btn" title="edit">
                                    <a href="{% url 'todo-update' todos.id %}">
                                        <i class="fas fa-pencil-alt fa-lg"></i>
                                    </a>
                                </button>
                            <form action="" method="post" class="float-right d-inline">
                                {% csrf_token %}
                                <!-- {{todos.datetime | date:"F d, Y"}} -->
                                <a class="btn" title="Delete" href="{% url 'todo-delete' todos.id %}">
                                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                                </a>
                            </form>
                        </div>

                        </li>

                        {% endfor %}
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}